#background-img {  
    color: #fff;
    background-image: url("../assets/lightwood.jpeg");  
    background-size: 100% ;  
    background-size: cover;  
    height: 100%;
    width: 100%;
    opacity: 0.5;
} 